<template>
  <div>
    <v-card class="pa-8" rounded="xl">
      <v-container>
        <v-row>
          <v-col class="mx-6 my-2">
            <div class="display-1">Παραγγελία #{{ $route.params.id }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <breadcrumb
              bg-color="body"
              :statuses="[
                'Πρόχειρη',
                'Προς Έγκριση',
                'Προς Εκτέλεση',
                'Σε Εξέλιξη',
                'Ολοκληρωμένη'
              ]"
              :active="order.status"
            ></breadcrumb>
          </v-col>
        </v-row>
        <v-row>
          <v-expansion-panels v-model="panel" multiple>
            <v-col cols="12" md="6" lg="3" xl="2">
              <general-section
                v-model="order"
                :readonly="true"
                :show-id="true"
                :show-status="true"
              ></general-section>
            </v-col>
            <v-col cols="12" md="12" order-md="3" lg="6" order-lg="2" xl="7">
              <details-section
                :order-items="order.order_items"
              ></details-section>
            </v-col>
            <v-col cols="12" md="6" order-md="2" lg="3" order-lg="3">
              <!-- CustomerSection -->
              <customer-section :customer="order.customer"></customer-section>
            </v-col>
          </v-expansion-panels>
        </v-row>
        <!-- Footer Section -->
        <v-footer>
          <v-card class="body">
            <v-row>
              <v-col>
                <v-card>
                  <v-container>
                    <v-row>
                      <v-col>
                        <v-text-field
                          disabled
                          readonly
                          label="Δημιουργήθηκε από"
                          :value="order.created_by || '-'"
                        ></v-text-field>
                      </v-col>
                      <v-col>
                        <v-text-field
                          disabled
                          readonly
                          label="Τροποποιήθηκε από"
                          :value="order.updated_by || '-'"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-footer>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Breadcrumb from '@/components/orders/details/Breadcrumb.vue'
import DetailsSection from '@/components/orders/details/DetailsSection.vue'
import GeneralSection from '@/components/orders/details/GeneralSection.vue'
import CustomerSection from '~/components/orders/details/CustomerSection.vue'

export default {
  components: { Breadcrumb, DetailsSection, GeneralSection, CustomerSection },
  async asyncData({ $axios, params, error }) {
    try {
      const order = await $axios.$get(`/api/orders/${params.id}`, {
        timeout: 3000
      })
      const customer = await $axios.$get(`/api/customers/${order.customer}`, {
        timeout: 3000
      })
      order.customer = customer
      return { order }
    } catch (e) {
      return error({ message: e.message, statusCode: e.response.status })
    }
  },
  data() {
    return {
      panel: [0, 1, 2]
    }
  },
  head() {
    return {
      title: `Παραγγελία ${this.$route.params.id}`
    }
  }
}
</script>
<style lang="sass" scoped></style>
