<template>
  <div>
    <v-row>
      <v-col>
        <div class="headline">Παραγγελίες</div>
      </v-col>
    </v-row>
    <v-row>
      <!-- Orders Table -->
      <v-col>
        <v-data-table
          class="accent rounded-xl pointer"
          elevation="7"
          :items="orders"
          :headers="headers"
          :footer-props="footerProps"
          :loading="loading"
          loading-text="Παρακαλώ περιμένετε..."
          @click:row="rowClick"
        >
          <template #top>
            <v-row class="accent rounded-xl mx-0 my-4" justify="space-around">
              <!-- Info Cards -->
              <v-col
                v-for="(info, i) in cardInfo"
                :key="i"
                cols="12"
                sm="2"
                class="d-flex justify-sm-space-around"
              >
                <v-card
                  class="rounded-xl d-flex flex-sm-column primary pa-1"
                  elevation="3"
                  :to="{ name: 'orders', query: { status: info.status } }"
                  width="100%"
                  max-width="200px"
                >
                  <div class="text-center text-truncate subtitle-1 pa-1">
                    {{ info.title }}
                  </div>
                  <div class="flex-grow-1 text-center text-h6 text-md-h3">
                    {{ info.number }}
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </template>
          <template #[`item.full_name`]="{ item }">
            <span>{{ item.customer.full_name }}</span>
          </template>
          <template #[`item.placement_datetime`]="{ item }">
            <span>{{
              item.placement_datetime | formatDate('dd MMM yyyy')
            }}</span>
          </template>
          <template #[`item.delivery_date`]="{ item }">
            <span>{{ item.delivery_date | formatDate('dd MMM yyyy') }}</span>
          </template>
          <template #[`item.status`]="{ item }">
            <v-chip :color="getColor(item.status)" dark>{{
              statusMapping[item.status]
            }}</v-chip>
          </template>
          <template #[`footer.page-text`]="props">
            {{ props.pageStart }}-{{ props.pageStop }} από
            {{ props.itemsLength }}
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {},
  async asyncData({ $axios, route, error }) {
    try {
      const orders = await $axios.$get(`/api/orders/`, {
        params: route.query,
        timeout: 3000
      })
      const loading = false
      return { orders, loading }
    } catch (e) {
      return error({ message: e.message, statusCode: e.response.status })
    }
  },
  data() {
    return {
      cardInfo: [
        {
          title: 'Πρόχειρες',
          number: 4,
          status: 'draft'
        },
        {
          title: 'Προς Έγκριση',
          number: 3,
          status: 'active'
        },
        {
          title: 'Προς Εκτέλεση',
          number: 2,
          status: 'approved'
        },
        {
          title: 'Σε Εξέλιξη',
          number: 1,
          status: 'in_progress'
        },
        {
          title: 'Ολοκληρωμένες',
          number: 5,
          status: 'completed'
        }
      ],
      statusMapping: {
        1: 'Πρόχειρη',
        2: 'Προς Έγκριση',
        3: 'Προς Εκτέλεση',
        4: 'Σε Εξέλιξη',
        5: 'Ολοκληρωμένη'
      },
      headers: [
        { text: 'Παραγγελία', value: 'id', align: 'center' },
        { text: 'Ονοματεπώνυμο', value: 'full_name' },
        { text: 'Ημερομηνία Παραγγελίας', value: 'placement_datetime' },
        { text: 'Ημερομηνία Παράδοσης', value: 'delivery_date' },
        {
          text: 'Κατάσταση',
          value: 'status',
          align: 'center',
          sortable: false
        }
      ],
      footerProps: {
        itemsPerPageAllText: 'Όλες',
        itemsPerPageText: 'Εγγραφές ανά σελίδα',
        showFirstLastPage: true
      }
    }
  },
  head() {
    return {
      title: 'Παραγγελίες'
    }
  },
  watchQuery: ['status'],
  methods: {
    getColor(status) {
      switch (parseInt(status)) {
        // draft
        case 1:
          return '#A0AEC0'
        // active
        case 2:
          return '#4FD1C5'
        // approved
        case 3:
          return '#F687B3'
        // in progress
        case 4:
          return '#F6AD55'
        // completed
        case 5:
          return 'primary'
      }
    },
    rowClick(item) {
      this.$router.push('orders/' + item.id)
    }
  }
}
</script>

<style scoped>
.rounded-corners {
  border-radius: 20px;
}
.pointer >>> tbody tr :hover {
  cursor: pointer;
}
</style>
