<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="pa-8">
          <v-card class="body pa-8">
            <v-card-title> Νέα Παραγγελία </v-card-title>
            <v-form>
              <v-expansion-panels v-model="panel" multiple>
                <v-col cols="12" md="6" lg="3" xl="2">
                  <general-section
                    v-model="order"
                    :show-id="false"
                    :show-status="false"
                  ></general-section>
                </v-col>
                <v-col
                  cols="12"
                  md="12"
                  order-md="3"
                  lg="6"
                  order-lg="2"
                  xl="7"
                >
                  <details-section
                    v-model="order.order_items"
                  ></details-section>
                </v-col>
                <v-col cols="12" md="6" order-md="2" lg="3" order-lg="3">
                  <!-- CustomerSection -->
                  <customer-section v-model="order.customer"></customer-section>
                </v-col>
              </v-expansion-panels>
            </v-form>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { DateTime } from 'luxon'

import DetailsSection from '@/components/orders/details/DetailsSection.vue'
import GeneralSection from '@/components/orders/details/GeneralSection.vue'
import CustomerSection from '@/components/orders/details/CustomerSection.vue'

export default {
  components: { DetailsSection, GeneralSection, CustomerSection },
  data() {
    return {
      order: {
        placement_datetime: DateTime.local().toISO(),
        status: 2
      },
      panel: [0, 1, 2]
    }
  },
  head() {
    return {
      title: `Νέα Παραγγελία`
    }
  }
}
</script>

<style></style>
