<template>
  <v-avatar v-bind="$attrs">
    <slot></slot>
  </v-avatar>
</template>

<style>
.v-avatar {
  box-shadow: 0px 0px 10px #01b075, inset 1px 1px 0px rgba(255, 255, 255, 0.4),
    inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}
</style>
