<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant="miniVariant"
    :clipped="clipped"
    color="accent"
    fixed
    app
    width="350"
  >
    <v-container class="px-8">
      <v-list nav>
        <MenuCategory
          v-for="(category, i) in categories"
          :key="i"
          :name="category.name"
          :items="category.items"
        ></MenuCategory>
      </v-list>
    </v-container>
    <template #prepend>
      <v-img
        gradient="rgba(0,0,0,.45), rgba(0,0,0,.45)"
        src="https://cdn.pixabay.com/photo/2015/03/10/13/55/saw-667139_960_720.jpg"
      >
        <div class="d-flex flex-column pt-2 px-8 full-height">
          <div class="text-center align-self-stretch pt-1">
            Cutting Assistant &copy;
          </div>
          <div class="px-2 pt-8">
            <Avatar class="" color="primary">NK</Avatar>
          </div>
        </div>
      </v-img>
    </template>
  </v-navigation-drawer>
</template>

<script>
import Avatar from '@/components/Avatar'
import MenuCategory from '@/components/navigation/MenuCategory'
export default {
  components: {
    Avatar,
    MenuCategory
  },
  props: {
    value: Boolean,
    miniVariant: Boolean
  },
  data() {
    return {
      clipped: false,
      categories: [
        {
          name: '',
          items: [
            {
              title: 'Σύνοψη',
              icon: 'mdi-view-dashboard',
              to: '/'
            }
          ]
        },
        {
          name: 'Παραγγελίες',
          items: [
            {
              title: 'Νέα Παραγγελία',
              icon: 'mdi-playlist-plus',
              to: '/orders/new'
            },
            {
              title: 'Παραγγελίες',
              icon: 'mdi-playlist-check',
              items: [
                {
                  title: 'Όλες',
                  icon: 'mdi-apps',
                  to: '/orders'
                },
                {
                  title: 'Πρόχειρες',
                  icon: 'mdi-apps',
                  to: '/orders?status=draft'
                },
                {
                  title: 'Ενεργές',
                  icon: 'mdi-apps',
                  to: '/orders?status=active'
                },
                {
                  title: 'Εγκεκριμένες',
                  icon: 'mdi-apps',
                  to: '/orders?status=approved'
                },
                {
                  title: 'Σε Εξέλιξη',
                  icon: 'mdi-apps',
                  to: '/orders?status=in_progress'
                },
                {
                  title: 'Ολοκληρωμένες',
                  icon: 'mdi-apps',
                  to: '/orders?status=completed'
                },
                {
                  title: 'Ακυρωμένες',
                  icon: 'mdi-apps',
                  to: '/orders?status=canceled'
                }
              ]
            }
          ]
        },
        {
          name: 'Πελάτες',
          items: [
            {
              title: 'Νέος Πελάτης',
              icon: 'mdi-account-plus',
              to: '/customers/new'
            },
            {
              title: 'Λίστα Πελατών',
              icon: 'mdi-account-group',
              to: '/customers'
            }
          ]
        }
      ]
    }
  },
  computed: {
    drawer: {
      get() {
        return this.value
      },
      set(drawer) {
        this.$emit('input', drawer)
      }
    }
  }
}
</script>

<style scoped>
.full-height {
  height: 100%;
}
</style>
