<template>
  <v-list-item :to="to" active-class="active" exact>
    <v-list-item-icon v-if="icon">
      <v-icon color="#cbccd1">
        {{ icon }}
      </v-icon>
    </v-list-item-icon>
    <v-list-item-content>
      {{ title }}
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    to: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
.active {
  background-color: #01b075;
  box-shadow: 0px 0px 10px #01b075, inset 1px 1px 0px rgba(255, 255, 255, 0.4),
    inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}

.active::before {
  opacity: 0;
}

.active .v-icon {
  color: white !important;
}
</style>
