<template>
  <div>
    <v-list-item-title v-if="name" class="category-title my-3">
      {{ name }}
    </v-list-item-title>
    <component
      :is="item.type"
      v-for="(item, i) in menuItems"
      :key="i"
      v-bind="item"
    >
    </component>
  </div>
</template>

<script>
import MenuItem from '@/components/navigation/MenuItem'
import SubMenu from '@/components/navigation/SubMenu'
export default {
  components: {
    MenuItem,
    SubMenu
  },
  props: {
    name: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      menuItems: []
    }
  },
  mounted() {
    for (const item of this.items) {
      // if there is an 'items' key in the items object,
      // it means it is a SubMenu, else it is a Menu Item
      const itemType = 'items' in item ? 'sub-menu' : 'menu-item'
      item.type = itemType
      this.menuItems.push(item)
    }
  }
}
</script>

<style>
.category-title {
  font-size: 0.9em !important;
  color: #cbccd1;
}
</style>
