<template>
  <v-list-group color="white" :prepend-icon="icon" :value="true">
    <template #activator>
      <v-list-item-title v-text="title"></v-list-item-title>
    </template>
    <v-list-item
      v-for="(item, i) in items"
      :key="i"
      :to="item.to"
      class="ml-12"
      exact-active-class="active"
      exact
      no-action
      dense
    >
      <v-list-item-content>
        <v-list-item-title v-text="item.title"></v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list-group>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style scoped>
.active {
  color: white;
  background-color: #01b075;
  box-shadow: 0px 0px 10px #01b075, inset 1px 1px 0px rgba(255, 255, 255, 0.4),
    inset -1px -1px 0px rgba(0, 0, 0, 0.25);
}

.active::before {
  opacity: 0;
}

>>> .v-list-group__items {
  position: relative;
}

>>> .v-list-group__items::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background: #01b075;
  opacity: 0.3;
  left: 15px;
  top: 0;
}
</style>
