<template>
  <v-app dark>
    <TheSideBar v-model="drawer" :mini-variant="miniVariant" />
    <v-app-bar :clipped-left="!clipped" fixed app color="accent" height="100">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-spacer />
      <v-autocomplete
        rounded
        filled
        hide-details="auto"
        placeholder="Search"
        append-icon=""
        prepend-inner-icon="mdi-magnify"
      />
    </v-app-bar>
    <v-main class="body">
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :fixed="fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import TheSideBar from '~/components/TheSideBar'
export default {
  name: 'Default',
  components: {
    TheSideBar
  },
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      miniVariant: false
    }
  }
}
</script>
