<template>
  <div class="breadcramb-container rounded" :class="bgColor">
    <breadcrumb-item
      v-for="(status, index) in statuses"
      :key="index"
      :status-name="status"
      :order="index"
      :active="active"
      :parent-bg-color="itemColor"
      :total-items="statuses.length"
    >
      {{ status }}
    </breadcrumb-item>
    <!-- <component type="style"></component> -->
  </div>
</template>

<script>
import BreadcrumbItem from '@/components/orders/details/BreadcrumbItem.vue'
import colors from 'vuetify/lib/util/colors'
export default {
  components: { BreadcrumbItem },
  props: {
    active: {
      type: Number,
      default: 1
    },
    statuses: {
      type: Array,
      default() {
        return []
      }
    },
    bgColor: {
      type: String,
      default: colors.grey.darken2
    }
  },
  computed: {
    itemColor() {
      // Convert the color class to the actual color code
      let colorClasses = this.bgColor.split(' ')
      colorClasses = colorClasses.map((item) => item.replace('-', ''))
      let color = colors
      for (let i = 0; i < colorClasses.length; i++) {
        color = color[colorClasses[i]]
      }
      return color
    }
  }
}
</script>

<style scoped>
.breadcramb-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
</style>
