<template>
  <div>
    <style>
      :root {
        --bg-color: {{ parentBgColor }};
        --item-color: {{ itemColor }};
      }
    </style>
    <div
      :style="{
        'z-index': totalItems - order - 1,
        'background-color': itemColor
      }"
      class="arrow"
      :class="cssClass"
    >
      {{ statusName }}
    </div>
  </div>
</template>

<script>
import colors from 'vuetify/lib/util/colors'

export default {
  props: {
    statusName: {
      type: String,
      default: ''
    },
    order: {
      type: Number,
      default: 0
    },
    active: {
      type: Number,
      default: 0
    },
    parentBgColor: {
      type: String,
      default: colors.grey.darken2
    },
    totalItems: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      colorMap: {
        completed: this.$vuetify.theme.themes.dark.primary,
        active: colors.indigo.darken1,
        incomplete: colors.grey.base
      }
    }
  },
  computed: {
    itemColor() {
      let color
      if (this.order + 1 < this.active) {
        color = this.colorMap.completed
      } else if (this.order + 1 === this.active) {
        color = this.colorMap.active
      } else if (this.order + 1 > this.active) {
        color = this.colorMap.incomplete
      } else {
        return ''
      }
      return color
    },
    cssClass() {
      const css = []
      if (this.order === 0) {
        css.push('left-rounded')
      }
      if (this.order > 0) {
        css.push('left-arrow')
      }
      if (this.order < this.totalItems - 1) {
        css.push('right-arrow')
      }
      if (this.order === this.totalItems - 1) {
        css.push('right-rounded')
      }
      return css
    }
  }
}
</script>

<style scoped>
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 20px;
  margin-left: 5px;
  position: relative;
}
.left-arrow:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid var(--bg-color);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.right-arrow:before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  /* border-left: 20px solid var(--item-color); */
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.left-rounded {
  border-radius: 20px 0 0 20px;
}
.right-rounded {
  border-radius: 0 20px 20px 0;
}
</style>
