<template>
  <v-card rounded="lg">
    <v-expansion-panel class="body rounded-lg">
      <v-expansion-panel-header class="primary-gradient px-6 py-1 mb-4 rounded"
        >Πελάτης</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <v-text-field
          readonly
          label="Ονοματεπώνυμο"
          :value="`${customer.first_name} ${customer.last_name}`"
        ></v-text-field>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <v-text-field
          readonly
          label="Τηλέφωνο"
          :value="customer.phone"
        ></v-text-field>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <v-text-field
          readonly
          label="Διεύθυνση"
          :value="customer.street_address"
        ></v-text-field>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <v-text-field
          readonly
          label="Πόλη/Περιοχή"
          :value="customer.city"
        ></v-text-field>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-card>
</template>

<script>
export default {
  props: {
    customer: {
      type: Object,
      default() {
        return {}
      }
    }
  }
}
</script>

<style></style>
