<template>
  <v-card rounded="lg">
    <v-expansion-panel class="body rounded-lg">
      <v-expansion-panel-header class="primary-gradient px-6 py-1 mb-4 rounded"
        >Λεπτομέρειες</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <v-expansion-panels :value="openPanels" multiple>
          <v-container>
            <v-row>
              <v-col class="px-0" cols="12">
                <v-expansion-panel
                  v-for="(items, material) in itemsByMaterial"
                  :key="items.id"
                  class="ma-1 primary-gradient rounded"
                >
                  <v-expansion-panel-header>
                    <span class="text-subtitle-2">
                      {{ material }}
                    </span>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-data-table
                      class="body"
                      :headers="headers"
                      :items="items"
                      disable-sort
                      disable-pagination
                      hide-default-footer
                    >
                      <template #[`header.area`]="">
                        Επιφάνεια m<span>&#178;</span>
                      </template>
                      <template #[`item.area`]="{ item }">
                        {{
                          calculateArea(
                            item.quantity,
                            item.x_dimension,
                            item.y_dimension
                          ).toFixed(1)
                        }}
                      </template>
                      <template #[`group.header`]="{ group }">
                        <span>{{ group }}</span>
                        <span>m<span>&#178;</span></span>
                      </template>
                    </v-data-table>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-col>
            </v-row>
          </v-container>
        </v-expansion-panels>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-card>
</template>

<script>
export default {
  props: {
    orderItems: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Τεμάχια',
          value: 'quantity'
        },
        {
          text: 'Μήκος (mm)',
          value: 'x_dimension'
        },
        {
          text: 'Πλάτος (mm)',
          value: 'y_dimension'
        },
        {
          text: 'Area',
          value: 'area'
        }
      ]
    }
  },
  computed: {
    itemsByMaterial() {
      const materials = {}
      for (const orderItem of this.orderItems) {
        if (orderItem.material in materials) {
          materials[orderItem.material].push(orderItem)
        } else {
          materials[orderItem.material] = [orderItem]
        }
      }
      return materials
    },
    openPanels() {
      const numOfPanels = Object.keys(this.itemsByMaterial).length

      return Array(numOfPanels + 1)
        .fill()
        .map((_, idx) => idx)
    }
  },
  methods: {
    calculateArea(quantity, length, width) {
      return (quantity * length * width) / 1000000
    }
  }
}
</script>

<style scoped></style>
