<template>
  <v-card rounded="lg">
    <v-expansion-panel class="body rounded-lg">
      <v-expansion-panel-header class="primary-gradient px-6 py-1 mb-4 rounded"
        >Γενικά</v-expansion-panel-header
      >
      <v-expansion-panel-content>
        <v-text-field
          v-if="showId"
          v-model="order.id"
          :readonly="readonly"
          label="Αριθμός Παραγγελίας"
        ></v-text-field>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <v-datetime-picker
          v-model="order.placement_datetime"
          :dialog-width="290"
          date-format="DD"
          time-format="HH:mm"
          :readonly="readonly"
          label="Ημερομηνία & Ώρα Έναρξης"
          :date-picker-props="datePickerProps"
        ></v-datetime-picker>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <date-input
          v-model="order.delivery_date"
          :readonly="readonly"
          label="Ημερομηνία Παράδοσης"
          locale="el"
        ></date-input>
      </v-expansion-panel-content>
      <v-expansion-panel-content>
        <v-select
          v-if="showStatus"
          v-model="order.status"
          :items="$store.state.orderStatus"
          item-text="text"
          item-value="value"
          :append-icon="readonly ? '' : '$dropdown'"
          :readonly="readonly"
          label="Κατάσταση"
        ></v-select>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-card>
</template>

<script>
import DateInput from '@/components/forms/DateInput.vue'
import VDatetimePicker from '@/components/forms/DatetimePicker.vue'

export default {
  components: { DateInput, VDatetimePicker },
  props: {
    value: {
      type: Object,
      default() {
        return {}
      }
    },
    readonly: {
      type: Boolean,
      default: false
    },
    showId: { type: Boolean, default: false },
    showStatus: { type: Boolean, default: false }
  },
  data() {
    return {
      select: { value: 2, text: 'Νέα' },
      datePickerProps: {
        locale: 'el'
      }
    }
  },
  computed: {
    order: {
      get() {
        return this.value
      },
      set(order) {
        this.$emit('input', order)
      }
    }
  }
}
</script>

<style></style>
