<template>
  <v-menu max-width="290">
    <template #activator="{ on, attrs }">
      <v-text-field
        :value="formatDateAbbrMonth(date)"
        :clearable="!readonly"
        :readonly="readonly"
        :label="label"
        v-bind="attrs"
        v-on="on"
        @click:clear="date = null"
      ></v-text-field>
    </template>
    <v-date-picker
      v-if="!readonly"
      v-model="date"
      :locale="locale"
    ></v-date-picker>
  </v-menu>
</template>

<script>
import { DateTime } from 'luxon'

export default {
  props: {
    value: {
      type: [String, Object],
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    locale: {
      type: String,
      default: 'en'
    }
  },
  computed: {
    date: {
      get() {
        return this.value
      },
      set(date) {
        this.$emit('input', date)
      }
    }
  },
  methods: {
    formatDateAbbrMonth(dateTimeLike) {
      // return date with abbreviated month
      // Example: '9 Νοε 2021'
      return dateTimeLike
        ? DateTime.fromISO(dateTimeLike).setLocale('el').toFormat('DD')
        : ''
    }
  }
}
</script>

<style></style>
